extends layout

block content
  h1= title
  if !user
    p.user-msg You are not logged in.
  else if user.status=='Avenger' && !message
    p.user-msg You are already an Avenger.
  else if message
    p.user-msg= message
    script.
      setTimeout(function() {
        window.location = '/';
      }, #{delay} * 1000);
  else
    p.user-msg Enter the secret password in order to join the Avengers. (Password: assemble)
    form.form(action="" method="POST")
      div.form-group
        label(for="password") Password:
        input(type="password" name="password")
      if errors
        ul.form-errors
          for error in errors
            li!= error.msg
      div.form-group.form-btn-container
        button.form-btn(type="submit") Submit