doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1.header-title
        a(href='/') The Avengers
      nav.user-nav
        if user
          span.username #{user.username}
          span.status #{user.status}
          if user.admin && user.admin==true
            span.admin Admin
          span
            a(href='/log-out') Log Out
        else
          span
            a(href='/log-in') Log In 
          span
            a(href='/sign-up') Sign Up
    main
      block content