doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href='/') Home
      if !user
        a(href='/sign-up')
          button Sign Up
        a(href='/log-in')
          button Log In
      else
        a(href='/log-out')
          button Log Out
    block content