extends layout

block content
  h1= title
  if !accountCreated
    form.sign-up-form(action='' method='POST')
        label(for='username') Username:
        input(type='text' name='username' value=(formData ? formData.username : ''))
        label(for='first-name') First Name:
        input(type='text' name='firstName' value=(formData ? formData.firstName : ''))
        label(for='last-name') Last Name:
        input(type='text' name='lastName' value=(formData ? formData.lastName : ''))
        label(for='password') Password:
        input(type='password' name='password')
        label(for='confirm-password') Confirm Password:
        input(type='password' name='confirmPassword')
        button.submit-btn(type='submit') Submit
    if errors
        ul
        for error in errors
            li!= error.msg
  else
    p Account created successfully. Click 
      a(href='/log-in') here
      .
         to log in.