extends layout

block content
  h1= title
  if !accountCreated
    form.form(action='' method='POST')
      div.form-group
        label(for='username') Username:
        input(type='text' name='username' value=(formData ? formData.username : ''))
      div.form-group
        label(for='first-name') First Name: (optional)
        input(type='text' name='firstName' value=(formData ? formData.firstName : ''))
      div.form-group
        label(for='last-name') Last Name: (optional)
        input(type='text' name='lastName' value=(formData ? formData.lastName : ''))
      div.form-group
        label(for='password') Password:
        input(type='password' name='password')
      div.form-group
        label(for='confirm-password') Confirm Password:
        input(type='password' name='confirmPassword')
      if errors
        ul.form-errors
          for error in errors
            li!= error.msg
      div.form-group.form-btn-container
        button.form-btn(type='submit') Submit
  else
    p.user-msg Account created successfully. Click 
      a(href='/log-in') here
      |  to log in.